.login-page {
    margin-top: 35vh;
}
.white-box {
    background: #fff;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-page form {
    background: #fff;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-page .form-control:focus {
    border-color: #ccc;
    box-shadow: none;
}
.login-page form input {
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
}
.login-page form button:active:hover {
    outline: 0;
    color: #fff;
    background-color: #4caf50;
}
.login-page .close {
    display: none;
}
.login-page form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4caf50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.login-page form button:hover,.login-page form button:active, .login-page form button:focus {
    background: #43a047;
    color: #fff;
}
.login-page form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.login-page form .message a {
    color: #4CAF50;
    text-decoration: none;
}
body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}