{% extends "tna/base.html" %}
{% load static humanize %}
{% block title %}Dashboard{% endblock %}
{% block head %}
<link rel='stylesheet' href="{% static 'fullcalendar/fullcalendar.css' %}" />
<link rel='stylesheet' href="{% static 'css/dashboard.css' %}" />
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'moment/moment.min.js' %}"></script>
<script src="{% static 'fullcalendar/fullcalendar.js' %}"></script>
<script src="{% static 'fullcalendar/config.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script type="text/javascript">
    var EVENTS_ENDPOINT = '{% url 'events_calendar' %}';
    var CURRENT_DATE = '{{ date }}';
</script>
{% endblock %}
{% block content %}
<div id="top">
{% if request.user.is_staff %}
<a href="{% url 'admin:index' %}">Admin panel</a>
{% endif %}
<a href="{% url 'password_change' %}">Change password</a>
<a href="{% url 'logout' %}">Logout</a>
</div>
{% if messages %}
<div id="messages" class="alert alert-success alert-dismissible">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>
{% endif %}
<div id="calendar"></div>
<div id="summary">
{% if events %}
<div id="events">
<h2>Event log</h2>
  <table class="table table-striped table-condensed text-center">
    <tbody>
    {% if missing_event %}
        {% if correction %}
      <tr class="warning">
        <td><i class="glyphicon glyphicon-info-sign"></i></td>
        <td>{{ correction.time | date:'Y-m-d H:i:s'}}</td>
          <td>Your change time requst is waiting for acceptance.</td>
      </tr>
        {% else %}
      <tr class="danger">
        <td><i class="glyphicon glyphicon-exclamation-sign"></i></td>
        <td>{{ date }} 23:59:59</td>
          <td><a href="{% url 'correct' date %}">Please provide your end of work time.</a></td>
      </tr>
        {% endif %}
    {% endif %}
    {% for event in events %}
    {% cycle 'in' 'out' as icon silent %}
    {% cycle 'out' 'in' as reverse_icon silent %}
      <tr>
        <td><i class="glyphicon glyphicon-log-{% if events.count|divisibleby:2 %}{{ reverse_icon }}{% else %}{{ icon }}{% endif %}"></i></td>
        <td>{{ event.created_at | date:'Y-m-d H:i:s'}}</td>
        <td></td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
<div id="info">
<h2>Month summary</h2>
  <table class="table">
    <thead>
      <tr>
        {% for s in summary %}
            {% if forloop.last %}
                <th>Sum</th>
            {% else %}
                <th>{{ forloop.counter | ordinal }} week</th>
            {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
      {% for week in summary %}
        <td>{{ week }}</td>
      {% endfor %}
      </tr>
  </table>
</div>
{% endblock %}