{% extends 'admin/change_form.html' %}
{% block object-tools %}{% endblock %}
{% block submit_buttons_bottom %}
{% load i18n admin_urls %}
{% if request.user.is_superuser %}
{{ block.super }}
{% else %}
<div class="submit-row">
<input type="submit" value="{% trans 'Accept' %}" class="default" name="_save" {{ onclick_attrib }}/>
{% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
<p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="deletelink">{% trans "Decline" %}</a></p>
</div>
{% endif %}
{% endblock %}