{% extends "tna/base.html" %}
{% load bootstrap3 %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row login-page">
    <form action="{% url 'login' %}" method="post" class="col-md-4 col-md-offset-4">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% bootstrap_form form show_label=False bound_css_class=none error_css_class=none %}
        {% buttons submit='Login' %}{% endbuttons %}
    <p class="message">Don't have account? Contact with your administrator.</p>
        <p class="message"><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
</div>
{% endblock %}