{% extends "tna/base.html" %}
{% load i18n static %}
{% load bootstrap3 %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="row login-page">
    <form action="{{ request.path }}" method="post" class="col-md-4 col-md-offset-4">
            {% csrf_token %}
            {% bootstrap_form form show_label=False bound_css_class=none error_css_class=none %}
            {% buttons submit='Reset password' %}{% endbuttons %}
    </form>

</div>
{% endblock %}