{% extends "tna/base.html" %}
{% load i18n static %}
{% load bootstrap3 %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="row login-page">
    <div class="col-md-4 col-md-offset-4 white-box">
    We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
    </div>
</div>
{% endblock %}