{% extends "tna/base.html" %}
{% load i18n static %}
{% load bootstrap3 %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="row login-page">
    <form action="{{ request.path }}" method="post" class="col-md-4 col-md-offset-4">
        {% if validlink %}
            {% csrf_token %}
            {% bootstrap_form form show_label=False bound_css_class=none error_css_class=none %}
            {% buttons submit='Set password' %}{% endbuttons %}
        {% else %}
            {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
        {% endif %}
    </form>

</div>
{% endblock %}