#top {
    margin: 40px 0 20px;
    text-align: right;
}

#top a {
    background: #43a047;
    color: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-left: 10px;
}

#top a:hover {
    text-decoration: none;
}

#calendar, #summary {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 3px;
    margin-bottom: 20px;
}

.fc-today {
    background: #f2f2f2;
    color: #000;
    font-weight: bold;
}

.fc-event {
    background: #43a047;
    border: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.fc-title {
    font-size: 16px;
}


.table>thead>tr>th {
    border-bottom: 1px solid #76b852;
}