{% extends "tna/base.html" %}
{% load bootstrap3 static %}
{% block title %}Correct time{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'datetimepicker/bootstrap-datetimepicker.css' %}">
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'moment/moment.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'datetimepicker/bootstrap-datetimepicker.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row login-page">
    <form  method="post" class="col-md-4 col-md-offset-4">
        {% csrf_token %}
        {% bootstrap_form form show_label=False bound_css_class=none error_css_class=none %}
        {% buttons submit='Correct' %}{% endbuttons %}
</div>
{% endblock %}